<pre>
<a href="https://docs.google.com/document/pub?id=1kv4z-HOWz3CCqcfLOIfzsisxr_AWruD19sbuVxRmXPM">Tau API on Google Docs</a>

Currently we don't have a local copy for the API doc.
If you cannot jump over the high wall,
you can open Developer Tools and follow the requests beginning with '/api'.

Also, here's a <a href="/#debug">debug console</a>.
You can test various APIs here.

Meanwhile, you can have a look at our source code at: <a href="https://github.com/thinxer/tau">github</a>.
The codes and docs are splendid.

Have a nice time!

</pre>
