$def with(version="")
<div class="dialog-wrapper {{= modal?'modal':'' }}">
    <div class="dialog">
        <div class="header">
            <h3 class="title">{{= title }}</h3>
            <div class="close">
                <b>×</b>
            </div>
        </div>
        {{if content}}
        <div class="content">{{html content}}</div>
        {{/if}}
        {{if bottom}}
        <div class="bottom">{{html bottom}}</div>
        {{/if}}
        <div class="buttons">
            {{each(i, button) buttons}}
            <button data-id="{{= button.id}}" class="button {{= button.type}}">
                {{= button.text}}
            </button>
            {{/each}}
        </div>
    </div>
</div>
