$def with(version="")
<div id="home" class="general_box light">
    <div class="siderbar">
        <div class="userinfo">
            <a href="#u/$${uid}" class="photo">
                <img src="$${photo}"/>
            </a>
            <div class="uid">$${uid}</div>
            <div class="name">$${name}</div>
            <div>_('following number'): <b>$${following}</b> </div>
            <div>_('followers number'): <b>$${follower}</b> </div>
            <div>_('bio'): $${bio} </div>
        </div>
        <div class="user_recommendation">
            <ol class="recommendation_list"> </ol>
            <button class="prev">_('prev page')</button>
            <button class="next">_('next page')</button>
        </div>
    </div>
    <div class="content">
        <div class="postbox">
            <textarea id="publisher" ></textarea>
            <button class="pub_btn"> _('share') </button>
            <div class="clear"></div>
        </div>
        <ol class="timeline">
        </ol>
    </div>
    <div class="clear"></div>
</div>
