$def with(version, jsfiles, cssfiles, debug)
<!DOCTYPE html>
<html>
<meta charset='utf-8' />
<link rel='shortcut icon' href='/static/image/favicon.ico?$(version)' />
$for file in cssfiles:
    <link rel='stylesheet' type='text/css' href='$file' />
<!--[if lte IE 7]>
    <link rel='stylesheet' type='text/css' href='/static/stylesheet/ie7.css' />
<![endif]-->
<title>$_('tau title')</title>
$if not debug and version:
    <script type='text/javascript'>VERSION='$(version)'</script>
<body>
    <div id="wrapper">
        <div id="header">
            <div class="title"><a href='#home'>$_('tau title')</a></div>
            <div class="nav">
                <a href='#settings'>$_('account settings')</a>
                <a href='#logout'>$_('logout')</a>
            </div>
            <div class='clear'></div>
        </div>
        <div id="main">
            Loading...
        </div>
    </div>
    <div id="footer">
        <div>
            <p>
            <span>© $_('tau title')</span>
            <span> <a href='#about'>$_('about us')</a> </span>
            <span> <a href='/new'>$_('new features')</a> </span>
            <span> <a href='/api'>$_('api for developers')</a> </span>
        </div>
    </div>
    <div id="flash">
        <p></p>
        <button class="close">$_('hide')</button>
    </div>
$for file in jsfiles:
    <script type='text/javascript' src='$file'></script>
</body>
