$def with(jsfiles, cssfiles, debug)
<!DOCTYPE html>
<html>
<meta charset='utf8' />
<link rel='shortcut icon' href='/static/image/favicon.ico' />
$for file in cssfiles:
    <link rel='stylesheet' type='text/css' href='$file' />
<title>滔滔不绝</title>
<body>
    <button id="debugTrigger" style="display:none;position:fixed;left:0;top:0">Rock</button>
    <div id="statusDiv"></div>
    <div id="wrapper">
        <div id="header">
            <div id="title">Tau</div>
        </div>
        <div id="main">
            Loading...
        </div>
    </div>
    <div id="footer">
        <div>
            <p>
            <span>© 滔滔不绝</span>
            <span> <a href='#about'>关于我们</a> </span> <span> <a href='/new'>新鲜功能</a> </span>
            <span> <a href='/api'>应用扩展</a> </span>
        </div>
    </div>
$for file in jsfiles:
    <script type='text/javascript' src='$file'></script>
</body>
