$def with(version="")
<div id="profile">
    <img src="$${photo}"/><br/>
    <div class="basic_info">
        $${uid} <br/>
        {{if location}}
        <span class="location">_('come from') $${location}</span><br/>
        {{/if}}
        {{if bio}}
        <span class="bio">_('bio'): $${bio}<br/></span>
        {{/if}}
        <a href="$${web}">
            <span class="web">$${web}</span>
        </a>
    </div>
    <br/>
    <div class="social_info">
        _('followers number'): $${follower}<br/>
        _('following number'): $${following}<br/>
    </div>
    <div class="clear"></div>
    <div class="timeline_wrapper"></div>
</div>
