$def with(version="")
<div id="profile" class="general_box light">
    <img src="{{= photo}}"/>
    <div class="basic_info">
        {{= uid}} <br/>
        {{if location}}
        <span class="location">_('come from') {{= location}}</span><br/>
        {{/if}}
        {{if bio}}
        <span class="bio">_('bio'): {{= bio}}<br/></span>
        {{/if}}
        <a href="{{= web}}">
            <span class="web">{{= web}}</span>
        </a>
    </div>
    <div class="social_info">
        <a href="#u/{{= uid}}/following">_('following number'): {{= following}}</a>
        <br/>
        <a href="#u/{{= uid}}/follower">_('followers number'): {{= follower}}</a>
        <br/>
        <div class="button follow-button" data-uid="{{= uid}}" data-isfollowing="{{= isfollowing}}"></div>
    </div>
    <div class="clear"></div>
    <div id="profiletabs">
            <ol class="tabbar">
                <li class="tabtitle" data-name="timeline" data-for="timeline_wrapper">
                    <a href="#u/{{= uid}}/timeline">_("%s's timeline", uid)</a>
                </li>
                <li class="tabtitle" data-name="following" data-for="following_wrapper">
                    <a href="#u/{{= uid}}/following">_("%s's following", uid)</a>
                </li>
                <li class="tabtitle" data-name="follower" data-for="follower_wrapper">
                    <a href="#u/{{= uid}}/follower">_("%s's followers", uid)</a>
                </li>
                <li class="tabtitle" data-name="list" data-for="list_wrapper">
                    <a href="#u/{{= uid}}/list">_("%s's list", uid)</a>
                </li>
            </ol>
            <div class="tabcontent timeline_wrapper"></div>
            <div class="tabcontent following_wrapper"></div>
            <div class="tabcontent follower_wrapper"></div>
            <div class="tabcontent list_wrapper"></div>
    </div>
</div>
