$def with(version="")
<div id="public">
    <div class="logo">
        <img src="/static/image/tau_logo.png?$(version)" alt="tau logo"/>
    </div>
    <form action="login" method="POST" class="login">
        <div class="input_wrapper uid">
            <label for="uid">注册ID</label>
            <input type="text" id="uid" />
        </div>
        <div class="input_wrapper password" >
            <label for="password">密码</label>
            <input type="password" id="password" />
        </div>
        <div class="input_wrapper email">
            <label for="email">邮箱</label>
            <input type="text" id="email" disabled/>
        </div>
        <div class="input_wrapper submit">
            <button type="submit">登录</button>
        </div>
    </form>
    <div class="extra">
        <a href="#register" class="show_register">没有帐号？注册一个吧</a>
        <a href="#login" class="show_login">已有账号，直接登录</a>
        <a href="#forget_pass" class="forget_pass">忘记密码？</a>
    </div>
</div>

