$def with(version="")
<li data-seq="{{= seq}}">
    <a href="#u/{{= uid}}"><img src="{{= photo}}"></a>
    <div class="desc">
        <div>
            <a href="#u/{{= uid}}" class="uid">{{= uid}}</a>
            {{if name}}
            <a href="#u/{{= uid}}" class="name">{{= name}}</a>
            {{/if}}
            {{if location}}
            <span class="loc">{{= location}}</span>
            {{/if}}
        </div>
        <div>
            <a href="#u/{{= uid}}/following">_('following number'): <span>{{= following}}</span></a>
            <a href="#u/{{= uid}}/follower">_('followers number'): <span>{{= follower}}</span></a>
        </div>
        <div class="tiny-button follow-button" data-uid="{{= uid}}" data-isfollowing="{{= isfollowing}}"></div>
    </div>
</li>

