$def with(version="")
<div id="search" class="general_box light">
    <a href='#home' class='backlink'>← _('back to home')</a>
    <div class="sidebar">
    </div>
    <div class="content">
        <form class="searchbox">
            <input type="text" />
            <button type="submit" class="pub_btn"> _('search') </button>
            <div class="clear"></div>
        </form>
        <div class="stream_wrapper"></div>
        <div class="people_wrapper"></div>
    </div>
    <div class="clear"></div>
</div>

