$def with(version="")
<li class="item" data-id="{{= id}}">
    <a href="#u/{{= creator}}" class="photo">
        <img src="{{= photo}}" />
    </a>
    <div class="container">
        <a class="uid" href="#u/{{= uid}}">{{= uid}}</a>
        {{if type=='forward'}}
        <span>_('forwarded from')
            <a href="#u/{{= creator}}">{{= creator}}</a>
        </span>
        {{/if}}
        <div class="content">{{html content}}</div>
        <span class="timestamp" data-timestamp="{{= timestamp}}">
            {{= _.getReadableDate(timestamp)}}
        </span>
        {{if showDelete}}
        <a href="javascript:;" class="delete">_('delete')</a>
        {{/if}}
        {{if showForward}}
        <a href="javascript:;" class="forward">_('forward')</a>
        {{/if}}
        {{if showReply}}
        <a href="javascript:;" class="reply">_('reply')</a>
        {{/if}}
    </div>
    <div class="clear"></div>
</li>
