$def with(version="")
<li class="item">
    <a href="#u/$${uid}" class="photo">
        <img src="$${user.photo}" />
    </a>
    <div class="container">
        <a class="uid" href="#u/$${uid}">$${uid}</a>
        <span class="name">$${user.name}</span>
        <div class="content" data-id="$${id}">$${content}</div>
        <div class="timestamp" data-timestamp="$${timestamp}">
            $${$$item.getDate(timestamp)}
        </div>
    </div>
    {{if $$item.isCurUser(uid)}}
    <a href="javascript:;" class="delete">_('delete')</a>
    {{/if}}
    <div class="clear"></div>
</li>
