$def with(version="")
<li class="userinfo">
    <div class="photo">
        <img src="{{= photo}}">
    </div>
    <a href="#u/{{= uid}}">{{= uid}}</a>
    <span class="name">{{= name}}</span>
    <br>
    <span class="following_number">
        <a href="#u/{{= uid}}/following">_("following number"): {{= following}}</a>
    </span>
    <span class="follower_number">
        <a href="#u/{{= uid}}/follower">_("followers number"): {{= follower}}</a>
    </span>
    <div class="bio">{{= bio}}</div>
    <div class="button follow-button" data-uid="{{= uid}}" data-isfollowing="{{= isfollowing}}"></div>
    <div class="clear"></div>
</li>
