[submodule "external/webpy"]
	path = external/webpy
	url = git://github.com/webpy/webpy.git
[submodule "external/webassets"]
	path = external/webassets
	url = git://github.com/miracle2k/webassets.git
