#home {
    padding-top: 20px;
}

#home>.siderbar {
    float: right;
    width: 240px;
}

#home>.content {
    float: left;
    width: 480px;
}

#home>.content .postbox {
    width: 100%;
}

#home>.content .postbox .photo {
    float: left;
}

#home>.content .postbox textarea {
    width: 400px;
    height: 60px;
}

#home>.content .postbox .pub_btn {
    cursor: pointer;
    display: block;
}

#home>.content .timeline, .recommendation_list {
    list-style-type: none;
    padding: 0px;
}

#home>.content .timeline>.item {
    margin-top: 10px;
}

#home>.content .timeline>.item .photo {
    float: left;
    padding-right: 10px;
    width: 40px;
    height: 40px;
}

#home>.content .timeline>.item .container {
    margin-left: 50px;
    word-wrap: break-word;
}

#home>.content .timeline>.item .uid {
    font-weight: bold;
}
#home>.content .timeline>.item .name {
    font-size: 12px;
    color: #444;
}
#home>.content .timeline>.item .timestamp {
    margin-top: 4px;
    font-size: 12px;
}

ol.recommendation_list{
    display: block;
    position: relative;
}

ol.recommendation_list>li>div{
    display:block;
    height: 80px;
    width: 200px;
}

ol.recommendation_list>li>div>div {
    float: left;
    padding: 5px 0 0 10px;
}

ol.recommendation_list>li>div>div.desc{
    padding-top:10px;
}

#main ol.recommendation_list a{
    color: #ffffff;
    position:relative;
    top:10px;
}

#main ol.recommendation_list a:hover{
    color: #aaaaaa;
}

button#more_recommendation{
    display:none;
}

