#home {
    padding-top: 20px;
}

#home>.siderbar {
    float: right;
    width: 240px;
}

#home>.content {
    float: left;
    width: 480px;
}

#home>.content .postbox {
    width: 100%;
}

#home>.content .postbox .photo {
    float: left;
}

#home>.content .postbox textarea {
    width: 400px;
    height: 60px;
}

#home>.content .postbox .pub_btn {
    cursor: pointer;
    display: block;
}

.recommendation_list {
    display: block;
    position: relative;
}

.recommendation_list>li>div {
    display: block;
    height: 80px;
    width: 200px;
}

.recommendation_list>li>div>div {
    float: left;
    padding: 5px 0 0 10px;
}

.recommendation_list>li>div>div.desc {
    padding-top:10px;
}

#main .recommendation_list a {
    color: #ffffff;
    position:relative;
    top:10px;
}

#main .recommendation_list a:hover {
    color: #aaaaaa;
}

.user_recommendation .next, .user_recommendation .prev {
    padding: 0px 4px;
    border: solid 1px #4183C4;
    cursor: pointer;
    background-color: transparent;
}

.user_recommendation .next[disabled], .user_recommendation .prev[disabled] {
    border: solid 1px grey;
    cursor: default;
}
