#home {
    padding-top: 20px;
}

#home>.siderbar {
    float: right;
    width: 240px;
}

#home>.content {
    float: left;
    width: 480px;
}

#home>.content .postbox {
    width: 100%;
}

#home>.content .postbox .photo {
    float: left;
}

#home>.content .postbox textarea {
    width: 400px;
    height: 60px;
}

#home>.content .postbox .pub_btn {
    cursor: pointer;
    display: block;
}

#home .userinfo, #home .user_recommendation, .searchbox {
    border-bottom: 1px solid #cee1ee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.userinfo .photo {
    margin-bottom: 20px;
    margin-right: 10px;
}

.userinfo .basics {
    float: left;
}

.userinfo .uid {
    font-size: 16px;
}

.userinfo .follow {
    float: left;
    position: relative;
    left: 20px;
}

.userinfo .location {
    position: relative;
    top: 10px;
}

.userinfo .uid_name {
    float: left;
}

.userinfo .photo {
    float: left;
}

.userinfo .follow a {
    display: block;
    margin-left: 10px;
}

.recommendation_list {
    display: block;
    position: relative;
    margin-top: 10px;
}

.recommendation_list>li {
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}

.recommendation_list>li .uid {
    font-weight: bold;
    font-size: 16px;
}

.recommendation_list>li .name {
    color: #999999;
    font-size: 14px;
}

.recommendation_list img {
    float: left;
}

.recommendation_list .desc {
    float: left;
    height: 60px;
    width: 170px;
    margin: 0 0 0 10px;
}

#main .recommendation_list a {
    color: #ffffff;
    position:relative;
}

#main .recommendation_list a:hover {
    color: #aaaaaa;
}

.user_recommendation .prevnext{
    float: right;
}

.user_recommendation .prevnext button {
    padding: 0px 4px;
    border: solid 1px #4183C4;
    cursor: pointer;
    background-color: transparent;
    margin-right: 5px;
}

.user_recommendation .next[disabled], .user_recommendation .prev[disabled] {
    border: solid 1px grey;
    cursor: default;
}

.search {
    margin: 20px 0px;
}
