*{
    outline:0!important;
}

body {
    background: #2C4762;
    font: normal 14px Arial, Helvetica, Microsoft YaHei, 微软雅黑;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.clear {
    clear: both;
}

#wrapper {
    width: 800px;
    margin: 0 auto;
}

#header {
    margin: 30px 0;
    padding: 0 0 0 30px;
}

#title {
    font-size: 24px;
    text-shadow: 1px 3px 5px rgba(0,0,0,0.5);
}

#main {
    position:absolute;
    left:50%;
    width:760px;
    margin-left:-400px;
    padding: 20px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background-color: #29425B;
}

#main .sidebar {
    float: right;
    width: 240px;
}

#main .content {
    float: left;
    width: 480px;
}

#footer {
    position: fixed;
    height: 50px;
    bottom:0;
    left: 0;
    width: 100%;
    background: url(/static/image/footer_bg.png);
    text-align: center;
    color: white;
    font-size: bold;
    text-shadow: black 1px 1px 2px;
    opacity: 0;
    -webkit-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}

#footer:hover {
    opacity: 1;
}

#footer div {
    margin-top: 10px;
}

#footer div p span {
    margin-left: 50px;
}

#statusDiv{
    -webkit-border-radius:0 0 8px 8px;
    -moz-border-radius:0 0 8px 8px;
    -o-border-radius:0 0 8px 8px;
    border-radius:0 0 8px 8px;
    position:fixed;
    top:0;
    width:200px;
    height:36px;
    left:50%;
    margin-left:-100px;
    background-color:#29425B;
    display:none;
    transition:opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
}

.input_wrapper{
    width:155px;
    height:35px;
    position:absolute;
    border:solid 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background:#DEEAF3;
}

.reglabel{
    margin:5px 0 0 11px;
	display:block;
    background-color:transparent;
    opacity:.5;
    padding:1px 10px 1px 10px;
    color:#869cb2;
    font: bold 20px Arial, Helvetica, Microsoft YaHei, 微软雅黑;
}

.reginput{
    position:absolute;
    width:138px;
    padding:6px 0 0 11px;
    background-color:transparent;
    height:28px;
    cursor:pointer;
    outline:0!important;
    border-width:0;
    font: 18px Arial, Helvetica, Microsoft YaHei, 微软雅黑;
}

.regbtn{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    width:111px;
    height:38px;
    background:#8BAD68 url(/static/image/reg_btn.gif) no-repeat right center;
    cursor:pointer;
}

textarea{
    resize:none;
}

.rr4{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.rr6{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.rr10{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.post{
    margin:20px 0 0 0;
    background-color:#FFFFFF;
    padding:15px 20px 15px 20px;
    width:460px;
    min-height:80px;
    position:relative;
}

.larrow{
    position:absolute;
    width:8px;
    height:16px;
    left:-8px;
    top:20px;
    background:url('/static/image/larrow.png') no-repeat transparent;
}

.avatar{
    position:absolute;
    width:64px;
    height:64px;
    left:-85px;
    top:0px;
}

.toplink{
    padding:2px 5px;
    cursor:pointer;
}

a.toplink:hover{
    color:#aaaaaa;
}
/* vim: set et ts=4 sw=4 tw=0 :*/
