html, body {
    background: #2C4762;
    font: normal 14px Arial, Helvetica, Microsoft YaHei, 微软雅黑;
    color: white;
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

a {
    color: white;
    text-decoration: none;
}

.clear {
    clear: both;
}

#wrapper {
    width: 800px;
    margin: 0 auto;
}

#header {
    margin: 30px 0;
    padding: 0 0 0 30px;
    opacity: 0;
    filter: alpha(opacity=0);
}

#header>.title {
    font-size: 24px;
    text-shadow: 1px 3px 5px rgba(0,0,0,0.5);
    float: left;
}

#header>.nav {
    float: right;
}

#main {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 60px;
}

#main>.general_box {
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#main>.general_box.light {
    background-color: white;
}

#main>.general_box.light,
#main>.general_box.light a {
    color: #2C4762;
}

#main>.general_box.dark {
    background-color: #29425B;
}

#main>.general_box.dark,
#main>.general_box.dark a {
    color: white;
}

#footer {
    position: fixed;
    height: 50px;
    bottom:0;
    left: 0;
    width: 100%;
    background: url(/static/image/footer_bg.png);
    text-align: center;
    color: white;
    font-size: bold;
    text-shadow: black 1px 1px 2px;
    opacity: 0;
    -webkit-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}

#footer:hover {
    opacity: 1;
}

#footer div {
    margin-top: 20px;
}

#footer div p span {
    margin-left: 50px;
}

#statusDiv {
    -webkit-border-radius:0 0 8px 8px;
    -moz-border-radius:0 0 8px 8px;
    -o-border-radius:0 0 8px 8px;
    border-radius:0 0 8px 8px;
    position:fixed;
    top:0;
    width:200px;
    height:36px;
    left:50%;
    margin-left:-100px;
    background-color:#29425B;
    display:none;
    transition:opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
}

textarea {
    resize:none;
}

.photo {
    height: 60px;
    width: 60px;
    display: block;
}

.photo img {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

body>.flash {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 6px 0;
    text-align: center;
    color: black;
    background-color: #efefef;
    font-size: 16px;
}

body>.flash.info {
    color: black;
    background-color: #FFF1A8;
}

body>.flash.error {
    color: #de0f0d;
    background-color: #f9e6e6;
}

body>.flash.success {
    color: #060;
    background-color: #bbffb6;
}

body>.flash p {
    margin: 5px 10px;
}

body>.flash .close {
    display: none;
    position: absolute;
    top: 8px;
    right: 10px;
}

body>.flash:hover .close {
    display: block;
}

.dialog-wrapper.modal {
    background-color: #AAAAAA;
    opacity: 0.6;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.dialog-wrapper .dialog {
    position: fixed;
    width: 500px;
    top: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 6px;
}

.dialog .header {
    position: relative;
}

.dialog .title {
    margin: 5px 0px 0px 5px;
}

.dialog .close {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
    height: 20px;
    font: bold 16px Tahoma,sans-serif;
    line-height: 18px;
    color: white;
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: rgba(0, 125, 255, 0.3);
    cursor: pointer;
}

.dialog .content {
    padding: 6px;
    background-color: #FFFFFF;
    color: #000;
    margin-top: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

/* vim: set et ts=4 sw=4 tw=0 :*/
