.timeline-box {
    margin: 20px 0;
}

.timeline{
    padding: 0px;
}

.timeline>.item {
    padding: 5px;
    -webkit-transition: background-color 0.1s linear;
    border-top: solid 1px #eee;
}

.timeline>.item:first-child {
    border-top: none;
}

.timeline>.item .photo {
    float: left;
    padding-right: 10px;
    width: 40px;
    height: 40px;
}

.timeline>.item .container {
    margin-left: 50px;
    word-wrap: break-word;
}

.timeline>.item .uid {
    font-weight: bold;
}

.timeline>.item .name {
    font-size: 12px;
    color: #444;
}

.timeline>.item .timestamp,
.timeline>.item .delete,
.timeline>.item .forward,
.timeline>.item .reply {
    font-size: 12px;
}

.timeline>.item .delete,
.timeline>.item .forward,
.timeline>.item .reply {
    display: none;
}

.timeline>.item:hover .delete,
.timeline>.item:hover .forward,
.timeline>.item:hover .reply {
    display: inline;
}

.timeline-box .newer-banner {
    width: 100%;
    height: 35px;
    background: #feffb4;
    cursor: pointer;
    display: none;
}

.timeline-box .newer-banner:hover {
    background: #d1d171;
}

.timeline-box .newer-banner .banner-text {
    color: #BB861C;
    margin: 10px;
    float: right;
}
