#profile {
    padding-top: 20px;
}
#profile>img {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    float: left;
    margin: 0 20px;
}

#profile>.basic_info {
    float: left;
    font-size: 20px;
    clear: right;
    line-height: 21px;
    width: 220px;
}

#profile>.basic_info>.location {
    font-size: 16px;
}

#profile>.basic_info>.bio {
    font-size: 14px;
}

#profile>.basic_info>a {
    color: #EEEEEE;
    font-size: 14px;
}

#profile>.basic_info>a:hover {
    color: #AAAAAA;
}

#profile .social_info {
    position: relative;
    line-height: 20px;
    left: 40px;
    float: left;
}

#profile #profiletabs {
    margin-top: 20px;
}

#profile .function-buttons {
    position: relative;
    left: 80px;
}

#profile .create_list, #profile .addto_list {
    background-color: green;
    color: white;
    width: 80px;
    margin-top: 16px;
    text-align: center;
}

#profile .follow-button {
    position: relative;
}

#profile .create_list:hover, #profile .addto_list:hover {
    background-color: #698565;
}
