#main #settings {
    padding-top: 5px;
    padding-bottom: 20px;
}

#settings .backlink {
    display: inline-block;
    margin: 4px auto 10px;
}

#settings .section {
    width: 80%;
    margin: auto;
    padding: 10px 0;
    clear: both;
}

#settings h1, #settings h2 {
    font-weight: normal;
}

#settings h1 {
    font-size: 20px;
}

#settings h2 {
    font-size: 18px;
}

#settings .basic_info td.desc {
    text-align: right;
}
#settings .basic_info input.error {
    background-color: yellow;
}
#settings .basic_info table {
    width: 100%;
    margin: 0 auto;
    border-top: solid 1px #8a98a5;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
#settings .basic_info td {
    border-bottom: solid 1px #8a98a5;
    padding: 10px;
}
#settings .basic_info tr td.desc {
    padding: 10px 20px;
    background-color: #53677b;
    width: 100px;
}
#settings .basic_info tr td.value {
    padding-left: 20px;
    background-color: #3d546a;
}
#settings .basic_info input {
    height: 20px;
    padding: 2px 4px;
    width: 200px;
    font-size: 16px;
    background: white;
    border: solid 1px white;
}
#settings .basic_info textarea {
    padding: 2px 4px;
    width: 400px;
    font-size: 16px;
}
#settings .basic_info .form_footer {
    padding: 10px;
    background-color: #3d546a;
    text-align: right;
}
#settings .basic_info button.submit {
    width: 80px;
    height: 30px;
}

#settings .photo_info .photo_box {
    width: 60px;
    padding: 5px;
    margin-top: 10px;
    overflow: hidden;
    direction: ltr;
    position: relative;
    background-color: #3d546a;
}
#settings .photo_info .photo_box img {
    width: 60px;
    height: 60px;
}
#settings .photo_info .photo_box:hover {
    background-color: #53677b;
}
#settings .photo_info .hint {
    width: 60px;
    padding-top: 4px;
    text-align: center;
    font-size: 12px;
}
#settings .photo_info input[type=file] {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
    font-size: 118px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
