.userstream {
}

.userstream li {
    border-top: solid 1px #eee;
    padding: 5px;
}

.userstream li:first-child {
    border-top: none;
}

.userstream li .photo {
    float: left;
    padding: 2px 10px 2px 0;
}

.userstream li {
    padding: 5px;
}
