body {
    background: #2C4762;
    font: normal 14px Arial, Helvetica, Microsoft YaHei, 微软雅黑;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.clear {
    clear: both;
}

#wrapper {
    width: 800px;
    margin: 0 auto;
}

#header {
    margin: 30px 0;
    padding: 0 0 0 30px;
}

#title {
    font-size: 24px;
    text-shadow: 1px 3px 5px rgba(0,0,0,0.5);
}

#main {
    padding: 20px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background-color: #29425B;
}

#main .sidebar {
    float: right;
    width: 240px;
}

#main .content {
    float: left;
    width: 480px;
}

#footer {
    position: fixed;
    height: 50px;
    bottom:0;
    left: 0;
    width: 100%;
    background: url(/static/images/footer_bg.png);
    text-align: center;
    color: white;
    font-size: bold;
    text-shadow: black 1px 1px 2px;
    opacity: 0;
    -webkit-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}

#footer:hover {
    opacity: 1;
}

#footer div {
    margin-top: 10px;
}

#footer div p span {
    margin-left: 50px;
}

#statusDiv{
    -webkit-border-radius:0 0 8px 8px;
    -moz-border-radius:0 0 8px 8px;
    -o-border-radius:0 0 8px 8px;
    border-radius:0 0 8px 8px;
    position:fixed;
    top:0;
    width:200px;
    height:36px;
    left:50%;
    margin-left:-100px;
    background-color:#29425B;
    display:none;
    transition:opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
}

/* vim: set et ts=4 sw=4 tw=0 :*/
