<div>
T.<select id='action'></select>({<br/>
<textarea id='values' cols=80 rows=5>uid:'foo',
password:'bar'</textarea>
<br/>
});
<br/>
<button id='submit'>submit</button>
<br/>
Result:
<div><pre id='result'></pre></div>
</div>
<br/>
<div>
<form action='/api/upload_photo' method='POST' enctype='multipart/form-data' target='photo_upload'>
    Upload photo:
    <input type='file' name='photo' /> <br/>
    <input type='submit' />
</form>
Result:<br/>
<iframe name='photo_upload' style='border: none; width: 600px; height: 100px;'></iframe>
</div>

<!-- vim: set ts=4 sw=4 tw=0 :-->
