<div class="sidebar">The sidebar.</div>
<div class="content">
	<button id="logoutBtn">logout</button>
	<div class="rr4" style="position:absolute;border:solid 1px;background:#DEEAF3;padding:5px;">
		<textarea tabindex="1" cols="" rows="" id="publisher" style="background:transparent;font-family:Tahoma,微软雅黑;border:solid 0px;word-wrap:break-word;font-size:14px;line-height:18px;overflow-x:hidden;width:476px;height:72px;border:none;"></textarea>
		<a style="position:absolute;top:90px;left:368px;" id="pubBtn">
			<img src="/static/images/pub.png" style="width:100px;height:30px;"></img>
		</a>
	</div>
	<ol id="posts" style="position:absolute;top:230px;left:0;list-style-type:none;margin:0 0 0 86px;color:#444444;">
	</ol>
</div>
