<!DOCTYPE html>
<html>
<meta charset='utf8' />
<link rel="icon" href="/static/images/tau.gif" />
<title>Tau</title>
<body>
<div id="wrapper">
    <div id="header">
        <div id="title">Tau</div>
    </div>
    <div id="main">
        Loading...
    </div>
</div>
<div id="footer">
<div>
    <p>
    <span> © 滔滔不绝！</span>
    <span> <a href='#about'>关于我们</a> </span>
    <span> <a href='/new'>新鲜功能</a> </span>
    <span> <a href='/api'>应用扩展</a> </span>
</div>
</div>
<link rel='stylesheet' type='text/css' href='/static/tau.css' />
<script src='/static/jquery.js' type='text/javascript'></script>
<script src='/static/jquery.tmpl.js' type='text/javascript'></script>
<script src='/static/tau.js' type='text/javascript'></script>
<script src='/static/ui.js' type='text/javascript'></script>
<script src='/static/controller.js' type='text/javascript'></script>
</body>

