<div style="height:100px;width:200px;">
	<div class="input_wrapper">
		<label class="reglabel" for="uid">注册ID</label>
		<input class="reginput" type="text" id="uid" />
	</div>
	<div class="input_wrapper" style="left:200px;">
		<label class="reglabel" for="password">密码</label>
		<input class="reginput" type="password" id="password" />
	</div>
	<div class="input_wrapper" style="left:400px;">
		<label class="reglabel" for="email">邮箱</label>
		<input class="reginput" type="text" id="email" />
	</div>
	<button style="position:absolute;top:90px;" id="submit">注册</button>
	<button style="position:absolute;top:90px;left:200px;" id="login">登录</button>
</div>
